PORT=4000
NODE_ENV=development
ACCESS_TOKEN_SECRET=replace_this_with_strong_random_value
REFRESH_TOKEN_SECRET=replace_this_with_strong_random_value
GOOGLE_CLIENT_ID=your_google_client_id_here
FRONTEND_ORIGIN=http://localhost:3000
DB_FILE=./data/db.sqlite
